*.exe
*.dll
*.so

# Logs
logs/
server_log.txt
crashinfo.txt

samp.ban

# Compiled output
gamemodes/*.amx

# pawno/qawno editors
pawno/
qawno/

plugins/
components/
dependencies/

pawn.lock

server.cfg
test.pwn
